<html>
<head><title>Some demo title</title></head>
<body>
<form action="/uploads" enctype="multipart/form-data" method="POST">
  <input type="file" name="my_file" multiple="multiple" />
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//assets.transloadit.com/js/jquery.transloadit2-v2-latest.js"></script>
<script type="text/javascript">
$(function() {
  $('form').transloadit({
    wait: true,
    triggerUploadOnFileSelection: true,
    params: {
      auth: {
        key: "xxxxxxxxxxxx", /*Transloadit api key */
      },
      steps: {
        "imported_image": {
          "robot": "/http/import",
          "url": "https://transloadit.com/img/video-merge-demo/mountain.jpg"
        },
        "merger": {
          "robot": "/video/merge",
          "use": {
            "steps": [
              {
                "name": ":original",
                "as": "audio"
              },
              {
                "name": "imported_image",
                "as": "image"
              }
            ]
          },
          "result": true,
          "ffmpeg_stack": "v2.2.3",
          "preset": "ipad-high",
          "resize_strategy": "pad"
        }
      }
    },
  });
});
</script>
</body>
</html>